.chatArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #DDDDDD;
    background-size: cover;
}

.messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.message.me {
    align-self: flex-end;
    background-color: #0074D9;
    color: white;
}

.message.other {
    align-self: flex-start;
    background-color: #7FDBFF;
    color: black;
}

.inputArea {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.inputArea input {
    flex: 1;
    border: none;
    outline: none;
}

.inputArea .sendButton {
    background-color: #DDDDDD;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputArea .sendButton:hover {
    background-color: #7FDBFF;
}

.inputArea .sendIcon {
    color: #0074D9;
}
