.chatList {
    width: 30%;
    height: 100%;
    background-color: #2b2f3a;
    padding: 0 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.chatListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #fff;
}

.settingsButton,
.addButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #bbb;
    font-size: 24px;
    transition: color 0.2s ease-in-out;
}

.settingsButton:hover,
.addButton:hover {
    color: #fff;
}

.chatListSearch {
    display: flex;
    align-items: center;
    background-color: #444;
    padding: 10px;
    border-radius: 20px;
    color: #bbb;
    width: 70%;
}

.chatListSearch .searchIcon {
    margin-right: 10px;
}

.chatListSearch .chatListInput {
    border: none;
    background: none;
    color: #fff;
    outline: none;
    width: 100%;
}

.chatItemsContainer {
    margin-top: 20px;
}

.chatItem {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    background-color: #2b2f3a;
    margin-bottom: 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out;
}

.chatItem:hover {
    background-color: #444;
}

.chatIcon {
    margin-right: 15px;
    color: #fff;
}

.chatName {
    font-size: 1em;
    color: #fff;
}
