body {
  font-family: Arial, sans-serif;
  background-color: #DDDDDD;
}

.login-page {
  display: flex;
  height: 100vh;
}

.welcome-section, .login-section {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-section {
  background-color: #003B5C;
  color: #FFFFFF;
}

.login-section {
  background-color: #FFFFFF;
}

.login-section form {
  width: 100%;
  max-width: 300px;
}

.login-section form .ant-form-item {
  margin-bottom: 20px;
}

.login-section form .ant-btn-primary {
  width: 100%;
  background-color: #0074D9;
  border-color: #0074D9;
}

.login-section form .ant-btn-primary:hover {
  background-color: #7FDBFF;
  border-color: #7FDBFF;
}
