.settingsPage {
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.settingsHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.backButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.backIcon {
    color: #0084ff;
    font-size: 24px;
}

.settingsBody {
    flex-grow: 1;
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.settingsOptions {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
}

.settingsContent {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introMessage {
    color: #666;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.settingsItem {
    padding: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease, color 0.2s ease;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.settingsItem:hover {
    background-color: #eee;
    color: #0084ff;
}

.settingsItem.selected {
    background-color: #eee;
    color: #0084ff;
    font-weight: bold;
}

.contentForm .inputGroup {
    margin-bottom: 20px;
}

.contentForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.contentForm .inputField {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

.contentForm button {
    background-color: #0084ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

.contentForm button:hover {
    background-color: #0073e6;
}
